Dataset/UCF101_Flow_Training

# Editor Tempfiles:
*.swn
*.swo
*.swp
*~

# Python binaries:
*.pyc
*.pyd

# Image Files:
*.jpg
*.png
*.mp4

# Large matfiles:
*.mat

#picklefiles:
*.pkl

#pth files for pretrained models (pytorch)
*.pth

# Tar or zip
*.zip
*.tar

